---
layout: default
---

<meta name="google-site-verification" content="6gCzsKb1fVNe5dpr4uRy6e6SMlWcRmqa2C85O7R2pCg" />

<div class="home">
  <h1 class="page-heading">{{ site.title }}</h1>

  {%- if page.title -%}
    <h2 class="post-list-heading">{{ page.title }}</h2>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
